* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body {
    position: relative;
    padding-bottom: 270px;
}

/*HEADER SECTION*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 10px 100px;
    background: #fff;

}

section[id] {
    scroll-margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}

header .ZIOI {
    position: relative;
    font-weight: 700;
    color: #d02d23;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

/*END OF HEADER SECTION*/

/*HERO SECTION*/

.hero {
    height: 100vh;
    width: 215.9vh;
    display: flex;
    align-items: center;
    justify-content: right;
    background: url(conejito2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    background-attachment: fixed;
}


.texto-comision a{
    background-color: none;
    color: #000000;
    text-decoration: none;
    border: 3px solid #d02d23;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px;
    width: 350px;
    margin-right: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    transition: 0.3s ease-in-out;

}


.texto-comision a:hover{
    background-color: #d02d23;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px;
    width: 350px;
    margin-right: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    transition: 0.3s ease-in-out;
}

/*END OF HERO SECTION*/

/*GALLERY SECTION*/

.fondo-galeria {
    background: #FCFBFF;
}

.portafolio{
    background: url(yuna.png);
    padding: 200px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.portafolio a{
    text-decoration: none;
    background: #d02d23;
    color: #fff;
    padding: 20px;
    letter-spacing: 4px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: xx-large;
    font-weight: 300;
}

/*END OF GALLERY SECTION*/

/*ABOUT SECTION*/

.about {
    background-color: #d02d23;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    margin-top: 60px;
    margin-left: 849px;
    width: 500px;
    height: 100px;
    text-align: center;
}

.about p {
    color: #ffffff;
    background-color: #d02d23;
    font-weight: 400;
    text-align: center;
    margin-right: 30px;
    margin-top: 12px;
    font-size: xx-large;
    font-weight: 300;
    letter-spacing: 4px;
}

.foto-jane {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    text-align: justify;
    justify-content: center;
    align-items: center;

}

.jane {
    width: 300px;
    height: 400px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.texto-about {
    min-height: 290px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.texto-about h3 {
    font-size: larger;
    margin-bottom: 20px;
}

.texto-about p {
    font-size: medium;
    font-weight: 300;
    line-height: 30px;
}

/*END OF ABOUT SECTION*/

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 215.9vh;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #d02d23;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-content p{
    max-width: 500px;
    line-height: 28px;
    font-size: 4px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #d02d23;
}

.footer-bottom{
    background: #000;
    width: 215.9vh;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}